.arx-objectclonerts {

}


.arx-repeat {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	font-weight: bold;
	border-bottom: solid 1px rgba(80, 80, 80, 0.137);
  }
  
  .arx-repeat:hover {
	background: rgba(255, 213, 158, 0.678);
  }
  
  
  .arx-span {
	margin-right: 30px;
  }
  
  .arx-span:hover {
	color: rgb(255, 132, 17);
  }
  
  .arx-search {
	width: 100%;
  
	font-family: 'Helvetica', 'FontAwesome', sans-serif;
  }
  
  .arx-pagination {
	display: flex;
	justify-content: center;
  }
  
