
.arx-dynamictitle {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .language-container{
        display: flex;
        flex-direction: column;
        gap: 4px;

        select {
            min-width: 400px;
        }

        button:nth-of-type(2) {
            min-width: 200px;
        }
    }
}
