

.arx-testtask .invoice {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #a1a1a1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
	display: flex;
	flex-direction: column;
}
.arx-testtask .information,
.arx-testtask.title{
	display: flex;
	justify-content: space-between;
	margin:10px;
}
.arx-testtask .table,
.arx-testtask .map{
	display: flex;
	justify-content: center;
	margin:10px;
}
.arx-testtask .map .frame{
	width: 100%;
	height: 100%;
}
.arx-testtask #map{
	width: 100%;
	height: 300px;
}
.arx-testtask .invoice table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.arx-testtask .invoice table td {
    padding: 5px;
    vertical-align: top;
}

.arx-testtask .invoice table tr td:nth-child(2) {
    text-align: right;
}

.arx-testtask .invoice table tr.top table td {
    padding-bottom: 20px;
}

.arx-testtask .invoice table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
	background-color: white;
}

.arx-testtask .invoice table tr.information table td {
    padding-bottom: 40px;
}

.arx-testtask .invoice table tr.heading td {
    background: #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    font-weight: bold;
}

.arx-testtask .invoice table tr.details td {
    padding-bottom: 20px;
}

.arx-testtask .invoice table tr.item td {
    border-bottom: 1px solid #a1a1a1;
}

.arx-testtask .invoice table tr.item.last td {
    border-bottom: none;
}

.arx-testtask .invoice table tr.total td:nth-child(2) {
    border-top: 2px solid #a1a1a1;
    font-weight: bold;
}
