.arx-meteowidget {
  .input-group{
    margin-bottom: 8px;
  }

  .weather-wrapper{
    padding: 4px;
  }

  .form-control {
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4286;
    background-image: none;
    border: 1px solid var(--color-border-theme-weak);
    border-radius: 4px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}

.arx-meteowidget-light{
    color: #161719;
    font-size: 13px;
}

.arx-meteowidget-light button {
    border: 1px #d3d6d8 solid;
    border-radius: 0 4px 4px 0;
}

.arx-meteowidget-dark{
    color: #0d0d0d;
    font-size: 13px;   
}

.arx-meteowidget-dark button {
    color: #d3d6d8;
    background-color: #0d0d0d;
    border: 1px #41464b solid;
    border-radius: 0 4px 4px 0;
}

.arx-meteowidget-dark button:hover {
  background-color: #41464b;
  border: 1px #41464b solid;
  border-radius: 0 4px 4px 0;
}

.arx-meteowidget-dark button:active {
  background-color: #0d0d0d;
  border: 1px #41464b solid;
  border-radius: 0 4px 4px 0;
}

.arx-meteowidget-dark button:focus {
  background-color: #0d0d0d;
  border: 1px #41464b solid;
  border-radius: 0 4px 4px 0;
}


