<div class="arx-objectcloner">

	<uib-tabset active="activeForm">
		<uib-tab index="0" heading="Viste">
			<input class="arx-search" type="text" placeholder="&#xf002; Cerca vista..."
				ng-model="viewsObj.search"></input>
			<div class="arx-repeat" ng-repeat="view in viewsObj.filteredViews">{{view.description}} -
				{{view.documentTypeDescription}}
				<span class="arx-span" ng-click="viewsObj.chooseView(view)"><i class="fas fa-clone" title="clona"></i></span>
			</div>
			<ul uib-pagination total-items="viewsObj.totalItems" ng-model="viewsObj.currentPage"
				boundary-links='viewsObj.boundaryLinks' max-size='viewsObj.maxSize'
				items-per-page="viewsObj.itemsPerPage" class="pagination-sm  arx-pagination"
				boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
		</uib-tab>

		<uib-tab index="1" heading="Modelli">
			<input class="arx-search" type="text" placeholder="&#xf002; Cerca modello..."
				ng-model="modelsObj.search"></input>
			<div class="arx-repeat" ng-repeat="model in modelsObj.filteredModels">{{model.description}} -
				{{model.groupName}}
				<span class="arx-span" ng-click="modelsObj.chooseModel(model)"><i class="fas fa-clone" title="clona" ></i></span>
			</div>
			<ul uib-pagination total-items="modelsObj.totalItems" ng-model="modelsObj.currentPage"
				boundary-links='modelsObj.boundaryLinks' max-size='modelsObj.maxSize'
				item-per-page="modelsObj.itemsPerPage" class="pagination-sm  arx-pagination"
				boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
		</uib-tab>

		<uib-tab index="2" heading="Report">
			<input class="arx-search" type="text" placeholder="&#xf002; Cerca report..."
				ng-model="reportsObj.search"></input>
			<div class="arx-repeat" ng-repeat="report in reportsObj.filteredReports">{{report.name}} -
				{{report.description}}
				<span class="arx-span" ng-click="reportsObj.chooseReport(report)"><i
						class="fas fa-clone" title="clona"></i></span>
			</div>
			<ul uib-pagination total-items="reportsObj.totalItems" ng-model="reportsObj.currentPage"
				boundary-links='reportsObj.boundaryLinks' max-size='reportsObj.maxSize'
				item-per-page="reportsObj.itemsPerPage" class="pagination-sm  arx-pagination"
				boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
		</uib-tab>
	</uib-tabset>

</div>
<link rel="stylesheet" href="./Scripts/plugins/ObjectCloner/ObjectCloner.css">
