
<div class="arx-arxivarinfo">
  <form>
    <div class="input-group" ng-show="showConfig">
      <input type="text" class="form-control" placeholder="Inserisci rss feed url" ng-model="feedUrl" />
      <span ng-show="isLoading" class="input-group-addon"> <i class="fa fa-refresh fa-spin fast-spin"></i></span>
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" ng-click="loadFeeds(true)" value="Load feeds" >
      </input>
      <span>
      </div>
    </form>
    <ul class="unstyled">
      <span class="badge badge-warning"  style="margin: 1em;" ng-show="feedItems.length > 0">{{(feedItems).length}} news</span><!--span class="feedTitle">{{feedTitle}}</span-->
      <li class="item" ng-repeat="feed in feedItems">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <h4 style="">
                  <a class="collapse-link" style="margin-right:15px"
                  data-toggle="collapse" href="/#collapse{{$index + instanceId}}">
                  <i class="fa fa-chevron-down fa-lg"></i>
                  <span style="margin-right:5px">{{feed.title}}</span>
                </a>
                <a target="_blank" href="{{feed.link}}" >
                  <i class="fa fa-external-link fa-lg"></i>
                </a>
              </h4>
              <p class="small text-left">{{feed.formattedPubDate}}</p>
            </h4>
          </div>
          <div id="collapse{{$index + instanceId}}" class="panel-collapse collapse">
            <div class="panel-body">
              <div ng-bind-html="feed.content"></div>
            </div>
            <div class="panel-footer">
              <h3 class="small">{{feed.creator}}</h3>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<link rel="stylesheet" href="./Scripts/plugins/RssFeedReader/RssFeedReader.css">